alembic==1.14.1
attrs==25.1.0
blinker==1.9.0
cachelib==0.13.0
certifi==2025.1.31
charset-normalizer==3.4.1
chromium==0.0.0
click==8.1.8
flagger==3.1.0
flasgger==0.9.7b2
Flask==3.1.0
Flask-Caching==2.3.1
Flask-Migrate==4.1.0
flask-mysql-connector==1.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
humanize==4.11.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lynx==0.3.1
Mako==1.3.9
MarkupSafe==3.0.2
mistune==3.1.2
mysql-connector-python==9.2.0
mysqlclient==2.2.7
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pillow==11.1.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.23.1
security==1.3.1
setuptools==75.8.1
six==1.17.0
SQLAlchemy==2.0.38
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
Werkzeug==3.1.3
wget==3.2
zenodo-get==1.6.1
