
body {
    background-color: rgb(95, 95, 95);
}

h1 {
    color: rgb(214, 46, 46);
    margin-left: 20px;
    font-size: 30px;
    font-family: "Comic Sans MS";
}

h2 {
    color: rgb(116, 240, 0);
    margin-left: auto;
    width: 50%;
    font-size: 20px;
    font-family: :"Impact";
}

form {
    margin-left: auto;
    width: 50%;
}