!doctype html>
<html>

<!--Website Title-->

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title> IMDB Dark Lord Dungeon </title>
</head>

<body>
    <div class="banner">
        <h1> IMDB </h1> <!--header text-->

    </div>

    <!--Text-->
    <h1> The Dark Lord Dungeon </h1> <!--header text-->
    <h2> GENRE: {{ type }} </h2> <!--subheader text-->

    <!--FORM FOR DROPDOWN-->
    <form method="GET" action="#">
        <select name="genre" id="genre">
            <option value="none" selected hidden disabled>select a genre</option>
            <option value="comedy"> comedy </option>
            <option value="drama"> drama </option>
            <option value="action"> action </option>
        </select>
        <input type="submit">
    </form>

    <h3> top 10 by rating </h3> <!-- text-->
    <h4> top 10 by vote </h4> <!-- text-->

    <!-- square 1-->
    <div class="square1">
        {% if rating_data or likes_data %}
        <div class="lists-container">
            {% if rating_data %}
            <div>
                <h2>Ratings List</h2>
                <ul>
                    {% for movie in rating_data %}
                    <li>{{ movie.name }} — Rating: {{ movie.rating }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% else %}
        <p>No genre selected or no data to display.</p>
        {% endif %}
    </div>

    <!-- square 2-->
    <div class="square2">
        {% if likes_data %}
        <div>
            <h2>Voting list</h2>
            <ul>
                {% for movie in likes_data %}
                <li>{{ movie.name }} — Votes: {{ movie.votes }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>



</body>

</html>